<% include header %>
<% if (accounts != null) { %>
<div class="container table-responsive">
<h2>アカウント一覧</h2>
<table class="table table-striped table-hover table-condensed">
<thead>
<tr>
<th>#</th>
<th>ID</th>
<th>fav</th>
<th>tweet</th>
<th>follow</th>
<th>follower</th>
</tr>
</thead>
<tbody class="draggable">
<% var fav = 0, tweet = 0, follow = 0, follower = 0; %>
<% for (var i = 0; i < accounts.length;) { %>
<% var account = accounts[i]; %>
<% var data = account.data; %>
<tr class="account draggable-item" data-id="<%= account.id %>">
<td><%= ++i %></td>
<td title="<%= data.name %>">
<span class="icon"><img src ="<%= data.profile_image_url_https %>" /></span>
<%= data.screen_name %>
</td>
<td><%= data.favourites_count %></td>
<td><%= data.statuses_count %></td>
<td><%= data.friends_count %></td>
<td><%= data.followers_count %></td>
<% fav += data.favourites_count %>
<% tweet += data.statuses_count %>
<% follow += data.friends_count %>
<% follower += data.followers_count %>
</tr>
<% } %>
</tbody>
<tfoot>
<tr>
<td></td><td></td>
<td><%= fav %></td>
<td><%= tweet %></td>
<td><%= follow %></td>
<td><%= follower %></td>
</tr>
</tfoot>
</table>
</div>
<% } %>
<pre><code>
<%= session %>
</code></pre>
<% include footer %>
